<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <h1>{{welcome}}</h1>
    
    <b># for loop</b>
    <ol>
    {% for c in courses %}
        <li>{{c}}</li>
    {% endfor %}
    </ol>
    <br/>

    <b># forloop.counter</b>
    {% for c in courses %}
    <p>
        {{forloop.counter}} {{c}}
    </p>
    {% endfor %}
    <br/>

    <b>If... else ...</b>
    <table border="1" cellpadding="3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
        {% for cd in courseDetails %}
            <tr>
                <td>{{cd.name}}</td>
                {% if cd.marks > "40" %}
                <td>{{cd.marks}}</td>
                {% else %}
                <td>F</td>
                {% endif %}
            </tr>
        {% endfor%}
        </tbody>
    </table>
</body>
